/*Formulario reclamo*/
*{
    margin: 0;
    padding: 0;
}
p {
	color: grey;
}
#heading {
	text-transform: uppercase;
	color: #216ce7;
	font-weight: normal;
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
	text-align: left;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}
#msform input, #msform textarea, #miSelect1 {
    width: 98%;
    height: 56px;
    padding: 0 16px;
    border-radius: 18px;
    margin-left: 5px;
    margin-right: 5px;
}
#msform input, #msform textarea, #miSelect1 {
    border: 2px solid #ebebeb;
}

#msform textarea{
    height: 100px;
}

/* Buttons Next */
#msform .action-button {
    width: 100px;
    background: #216ce7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 5px;
    float: right;
}

#msform .action-button:hover, #msform .action-button:focus {
    background-color: #5c00fc;
}

/* Buttons Previous */
#msform .action-button-previous {
    width: 100px;
    background: #27578f;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    background-color: #0873d8;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #216ce7;
    margin-bottom: 15px;
    margin-left: 20px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
	color: #216ce7;
    font-weight: normal;
}

/*steps*/
.steps {
	font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: normal;
    text-align: right;
}

/*Field names*/
.fieldlabels {
	color: gray;
	text-align: left;
    margin: 5px;
    margin-left: 15px;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #216ce7;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

/*Iconos del ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f0e0";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}


#progressbar li.active:before, #progressbar li.active:after {
    background: #216ce7;
}


/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
