/*font-family: 'Playfair Display', serif;*/

* {
    font-family: 'Playfair Display', serif;
}




/*Header*/

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.3)),
        url(../images/carro2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.navbar {
    background: linear-gradient(to bottom, #66b7e2, rgba(0, 0, 255, 0));
}

.navbar-collapse {
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 .2rem;
}

.navbar-collapse ul li a {
    color: #EEE9DA;
    margin-right: 2rem;
}

.collapse .navbar-brand {
    color: #EEE9DA;
    font-size: 1.5rem;
}

.navbar-collapse .navbar-brand:hover {
    color: #333333;
}

.nav-item {
    position: relative;
    float: left;
}

.navbar .nav-link:hover {
    color: #333333;
}

.navbar .nav-link {
    margin-left: 1.5rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    background: linear-gradient(to top, #3d44442f, rgba(11, 48, 65, 0));
    padding-top: 1rem;
    margin-top: 3.5rem;
    padding-bottom: 1rem;
    width: 100%;
}

.header-txt {
    width: 100%;
}

.header-txt h1 {
    width: 80%;
    font-size: 4.5rem;
    font-weight: 5rem;
    line-height: 6rem;
    color: #EEE9DA;
    margin-bottom: 2.5rem;
    margin-left: 5rem;
}

.header-txt .parrafo {
    font-size: 1.2rem;
    color: #fff;
    width: 95%;
    margin-left: 4rem;
    border-left: .35rem solid #EEE9DA;
    padding-left: .5rem;
}

.header-txt p {
    font-size: 1.6rem;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.btn-1 {
    display: inline-block;
    padding: 12px 35px;
    background-color: #333333e1;
    border-radius: 1.5rem;
    color: #ffffffb2;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    margin-top: 3rem;
    text-decoration: none;
}

.btn-1:hover {
    background-color: #7e7a70;
}




/*sección porque elegirnos*/

.seccionelegirnos {
    background-color: #EEE9DA;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.seccionelegirnos__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionelegirnos__titulo {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 60px;
    color: #333333;
    text-decoration: underline .2rem;
    text-align: center;
    padding-top: 2rem;
}

.seccionelegirnos__parrafo {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.seccionelegirnos__detalles {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.seccionelegirnos__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionelegirnos__parrafo-box {
    text-align: center;
    font-size: 1rem;
    width: 80%;
}

.seccionelegirnos__iconos {
    width: 10rem;
    height: 10rem;
    background-color: #93BFCF;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionelegirnos__titulo-box {
    text-align: center;
    font-size: 2rem;
}



/*Destinos*/

.carousel-container {
    width: 100vw;
    height: 100vh;
    background-color: #9c8a7c;
}

.destinos-txt {
    font-style: italic;
    text-decoration: underline .2rem;
    color: #EEE9DA;
    font-size: 60px;
    margin-bottom: 2rem;
}

.destinos-parrafo {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 1.4rem;
    color: #EEE9DA;
}

.card-text {
    color: #ffffff;
}

.card-body {
    background-color: #7e7a70;
}

.card-body h5 {
    text-decoration: dotted;
    color: #EEE9DA;
    font-weight: 20px;
}

.card-body:hover {
    background-color: #333333;
}

.list-group li {
    font-family: sans-serif;
    background-color: #333333;
    color: #EEE9DA;
}

.card-img-top {
    width: 50px;
    height: 200px;
}

/* ¿Quienes Somos? */




/* formulario de contacto */

.form__contacto .btn-primary {

    background-color: #6096B4 !important;
    border: none;
}

.form__contacto .btn-primary:hover {

    background-color: #4982a0 !important;
}

.form__contacto .form-control:focus {
    border-color: #93BFCF !important;
    border: 3px solid;
    box-shadow: none !important;
}



/* formulario de reclamo */

.form__reclamo {
    text-align: center;
    margin: 100px;
}

.form__link {
    text-decoration: none;
    border: 2px solid #252525;
    border-radius: 10px;
    padding: 10px;
    color: #252525;
}

.form__link:hover {
    background-color: #EEE9DA;
}



/*footer*/

.footer__content {
    background-color: #EEE9DA;
    width: auto;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__link {
    display: flex;
    justify-content: center;
}

.footer__logo {
    width: 75%;
    height: auto;
}

.footer__text {
    text-align: center;
    font-size: 1.5rem;
    color: #252525;
    font-style: italic;
}

.footer__socials {
    display: flex;
    gap: 4rem;
}

.footer__icons {
    color: #252525;
    text-decoration: none;
}

.footer__icons:hover {
    color: #93BFCF;
}



/*footer credits*/

.footer__credits {
    background-color: #252525;
    width: auto;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text-credits {
    color: white;
    font-family: serif;
    text-align: center;
}

.footer__link-credits {
    color: #93BFCF;
}

.footer__link-credits:hover {
    color: #EEE9DA;
}



/*Medias Querry*/

@media(max-width:991px) {

    .header {
        height: 100%;
    }

    .navbar-brand img {
        align-items: center;
    }

    .navbar-collapse {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-txt h1 {
        width: 80%;
        line-height: 6rem;
        font-size: 4rem;
    }

    .header-txt .parrafo {
        width: 80%;
    }

    .btn-1 {
        position: relative;
        align-items: center;
        margin: 5% 5%;

    }

    .header-txt p {
        margin-left: 2rem;
        width: 80%;
    }

    .go-top-container {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .seccionelegirnos {
        height: 100%;
    }

    .seccionelegirnos__textos {
        gap: 25px;
    }

    .seccionelegirnos__parrafo {
        padding: 0px 180px;
    }

    .seccionelegirnos__detalles {
        flex-direction: row;
    }

    .seccionelegirnos__parrafo-box {
        padding: 10px;
    }

    .form__contacto {
        margin: 100px;
        padding: 50px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}

@media (max-width:768px) {

    .header {
        height: 100%;
        width: 100%;
    }

    .header-txt h1 {
        line-height: 5rem;
        font-size: 3.5rem;
    }

    .header-txt p {
        margin-top: 3rem;
        margin-left: 10%;
        width: 80%;
    }

    .header-txt .parrafo {
        display: none;
    }

    .btn-1 {
        margin: .5rem, auto;
    }

    .seccionelegirnos {
        height: 100%;
    }

    .seccionelegirnos__parrafo {
        font-size: 1.2rem;
        width: 80%;
    }

    .seccionelegirnos__iconos {
        width: 8rem;
        height: 8rem;
        padding-top: 1px;
    }

    .seccionelegirnos__titulo {
        font-size: 2.5rem;
    }

    .carousel-container {
        height: 100%;
    }

    .cartas {
        display: flex;
        flex-direction: column;
    }
}



/*Go Top*/

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #93BFCF;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) escale(0);
    color: #EEE9DA;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 2rem;
        height: 2rem;
    }

    100% {
        width: 4rem;
        height: 4rem;
    }
}



.quienessomos {

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(../images/colorido.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.quienessomos__h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}


.quienessomos__logo {
    width: 64px;
    height: 64px;

    background-image: url(../images/sun.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 50px;
}

.quienessomos__p {
    text-align: center;
    line-height: 2;
    color: white;
    font-size: 28px;
    padding: 0px 100px;

}

@media (max-width: 768px) {
    .quienessomos {
        width: auto;
        height: 100vh;

        gap: 50px;

    }

    .quienessomos__h1 {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }


    .quienessomos__p {
        font-size: 16px;
        padding: 0px 10px;
        margin: 0;
    }

    .quienessomos__logo {
        display: none;
    }
}